<h1>See all of our lovely Throw users.</h1>

<% @users.each do |user| %>
<p>Username:  <%= user.username %></p>
<p>Date Created:  <%= user.created_at %></p>
<p>Number of Throws:  <%= user.posts.count %></p>
<hr>
<% end %>