<h1>About Throw</h1>
<p>
	Ever heard of us? Throw is the cumulative work of Troy Starwalt over a few days.
</p>
<p>
This app isn't like other apps. Throw just works sometimes. You never know when it will break, and you get a little frustrated when it does.
</p>
<p>
	Take a look around though. Create an account and attempt a Throw.
</p>
<p>Thanks, </p>
<p>Troy</p>