<div id="billboard-wrapper">
	<div id="rotating-item-wrapper">
		<img class="rotating-item" src="/desktopRS.jpg" alt="a person entering a building" width="980" height="347" />
		<img class="rotating-item" src="/treesRS.jpeg" alt="photo of building across from our office" width="980" height="347" />
		<img class="rotating-item" src="/streetRS.jpg" alt="building entrance with neon backlit walls" width="980" height="347" />
		<img class="rotating-item" src="/hardRS.jpg" alt="building lobby window reflections" width="980" height="347" />
	</div>
</div>

<div id="entry">
	<p>
		<h1>Welcome to T<span class="hcolor">h</span>row. Here you can make all of your <span><a href="https://youtu.be/JC6AzmXrNbU" class="dreams">dreams come true</a></span>.</h1>
	</p>
	<p>
		If you haven't yet, you should definitely sign up for T<span class="hcolor">h</span>row.
	</p>

</div>