<h1>List of Throws</h1>
<h3>Click on a user to see more info.</h3>
<p> <%= link_to "Throw your own.", new_post_path %>
<table>
	<div id="list_of_throws">
		<tr>
			<th>Throw</th>
			<th>User</th>
		</tr>
		<% Post.all.each do |post| %>
		<tr>
			<td><%= post.content %></td>
			<td><%= link_to post.user.username, user_path(post.user) %></td>
		<!-- "/users/#{post.user.id}" -->
	</tr>
		<% end %>
	</div>
</table>