<h1>T<span class="hcolor">h</span>row Something</h1>
<div>
<%= form_tag(posts_path, method: 'post') do %> 
  <p>
    <%= label_tag('content', '', class: 'font_throw') %>
    <br>
    <%= text_area_tag('content', '', class: 'throw_area') %>
  </p> 
  <p>
    <%= submit_tag('Throw', class: 'throw_button') %>
  </p>  
<% end %>