// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ses_input_area {
	width: 300px;
	border-radius: 2px;
	border-style: solid;
	border-color: grey;
}


.ses_submit_btn {
	height: 25px;
	border: 2px solid grey;
	width: 100px;
	font-family: Century-Gothic, sans-serif;
	background: transparent;
	font-size: 15px;
	border-radius: 2px 20px;
}

#email_login {
	padding-bottom: 5px;
}

