// Place all the styles related to the Users controller here.
// They will automatically be included in application/*.css.*/
// You can use Sass (SCSS) here: http://sass-lang/*.com/*/

.user_forms {
	width: 400px;
}

.input_area {
	width: 400px;
	border-radius: 2px;
	border-style: solid;
	border-color: grey;
}

.input_bio_area {
	width: 400px;
	height: 200px;
	resize: none;
	border-radius: 2px;
	border: 2px grey solid;
}

.submit_btn {
	height: 25px;
	border: 2px solid grey;
	margin-left: 37%;
	font-family: Century-Gothic, sans-serif;
	background: transparent;
	font-size: 15px;
	border-radius: 2px 20px;
}